<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607941959635-17hmnf31a219rhb71lbe6u4vm1sf65cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607941959635-17hmnf31a219rhb71lbe6u4vm1sf65cf</string>
	<key>API_KEY</key>
	<string>AIzaSyACHsKo2v7jTrTD1ZG_okbcfyfwADss6zo</string>
	<key>GCM_SENDER_ID</key>
	<string>607941959635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miraclehouse.todoNew</string>
	<key>PROJECT_ID</key>
	<string>todo-ddd-new</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ddd-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607941959635:ios:fc9aeeb6efc5b1acab5926</string>
</dict>
</plist>